* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  height: 70px;
  background: #f2f2f2;
  font-family: sans-serif;
  display:flex;
}
nav {
  margin: auto;
  display: inline-block;
}
nav ul {
  align-content: center;
}
nav li {
  display: inline;
}
body {
  color: black;
  text-decoration:none;
  font-family: "Calibri";
}
main {
  font-size: 0;
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.image {
  background-size: 100%;
  background-position: center;
  width: 100%;
  height: 200px;
  background-image: URL(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
}
.columns {
  padding: 10px:
}
p {
  font-size: 12px;
}
main .row {
  display: flex;
}
main .row div {
  flex: 1;
}

footer {
  height: 50px;
  position: fixed;
  width: 100%;
  bottom: 0;
  box-sizing: border-box;
  padding: 10px;
}
i {
  text-align:right;
  color: purple;
}

@media only screen and (max-width: 900px) {
  main {
    width: 80%;
  }
}

@media only screen and (max-width: 500px) {
  main {
    width: 100%;
  }
}
